<!--The content below is only a placeholder and can be replaced.-->
<div>
  <form id="visitor" name="visitor">
      <!--<legend class="header">Visitor Form</legend>-->
      <img src="app/pivot.png" class="logo"/>
      <input name="phone" type="text" class="feedback-input" pattern="[0-9]{10}"placeholder="Phone Number (0507894564)" required/>
      <input name="first_name" type="text" class="feedback-input" placeholder="First Name" required/>
      <input name="last_name" type="text" class="feedback-input" placeholder="Last Name" required/>
      <input name="email" type="text" class="feedback-input" pattern="[a-zA-Z0-9.%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,3}$" placeholder="Email (domain@domain.com)" required/>
      <input name="org_name" type="text" class="feedback-input" placeholder="Organization Name" required/>
      <!--<input name="time" type="hidden" value="{{myTime}}" />-->
      <textarea name="purpose" class="feedback-input" placeholder="Purpose Of Visit" required></textarea>
      <input name="submit" type="submit" value="SUBMIT"/>
    </form>
</div>

